.cd-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A;
  border-radius: 2px;
  padding-bottom: 50px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 3em;
  padding-bottom: 3em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #11998e;
}
@media only screen and (min-width: 1600px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1600px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px lightgreen, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #11998e;
}
@media only screen and (min-width: 1600px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: lightblue;
  border-radius: 2px;
  padding: 1em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
.timeline-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
    .timeline-content-info>i {
      margin-right: 5px;
    }
    .timeline-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .timeline-content-info-title, .timeline-content-info-date {  
        display: block;
        width:100%;
      } 
    }
  .timeline-content-info>.content-skills {
    font-size: 12px;
    padding:0;
    margin-bottom: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .timeline-content-info>li {
      background: #40484D;
      border-radius: 2px;
      display: inline-block;
      padding: 2px 10px;
      color: rgba(255,255,255,0.7);
      margin: 3px 2px;
      text-align: center;
      flex-grow: 1;
    }
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: rgba(0,0,0,.7);
  margin-top:0;
  font-weight: 550;
  font-size: 1.3em !important;
  font-family: Roboto, sans-serif;
  margin-bottom: 5px;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(0,0,0,.7);
  font-size: 1.1em !important;
  font-family: Roboto, sans-serif;
}
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid lightblue;
}
.cd-timeline-content2{
    margin-top: 5px;
    position: relative;
    left: 20px;
    background: white !important;
}
.cd-timeline-content2::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    color: #11998E;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1600px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}







.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  transform: translate(-50%,-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sent{
    background: #222C32;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.container-fluid{
    margin: 0;
    padding: 0;
    border-radius: 0;
}
nav{
    border-radius: 0;
    border: 0px;
    background: transparent;
    margin: 0;
}
.back{
    text-decoration: none;
    cursor: pointer;
}
.back:hover{
    text-shadow: 0 0 20px rgba(255,255,255,1);
}
.icon{
    color: white;
    margin-top: 20px;
    font-size: 1.3em;
    
}
.navbar-brand { position: relative; z-index: 2}

.logo{
    position: relative;
    top: -5px;
    height: 80px;
    display: inline;
}
.text{
    display: inline-block;
    position: relative;
    top: -3px;
    left: 5px;
    vertical-align: middle;
}
.title{
    position: relative;
    top:-2px;
    font-weight: 550;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: inline;
}
.navbar-inverse .navbar-nav>li>a {
    color: #BFEBE6;
    font-weight: 500;
}
.nav-btn{
    background: white;
    color: #00b19d;
    border-radius: 25px;
    padding: 8px 12px 8px 12px;
    font-weight: 540;
    font-size: 0.9em;
    position: relative;
    font-family: 'Roboto', sans-serif;
    top: 8px;
    cursor: pointer;
    transition: all .7s;
    border: 2px solid rgba(255,255,255,0);
}
.nav-btn:hover{
    background: transparent;
    color: white;
    border: 2px solid rgba(255,255,255,1);
}
li>a{
    
    cursor: pointer;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
li>a>span{
    font-size: 1em;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: rgba(255,255,255,1);
    text-shadow: 0 0 20px rgba(255,255,255,1);
}
.navbar-inverse .navbar-nav>li>a {
    color: rgba(255,255,255,0.8);
    transition: all .4s;
    
}
.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}
.link{
    color: #BFEBE6
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

.my{
    padding-bottom: 40px;
    height: auto;
    overflow-y: auto;
    padding-top: 40px;
}
.content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.content>p{
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: #00b19d;
    margin: 0;
    padding-left: 10px;
}
.content>h2{
    color: #00b19d;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-left: 10px;
    font-size: 1.6em;
}
.content>h4{
    color: gray;
    font-weight: 400 !important;
    font-size: 1.1em;
    padding: 10px;
    padding-top: 0;
}