.row{
    margin-left: 8px;
}
.card{
    box-shadow: 0px 22px 45px -15px rgba(0,0,0,0.5) !important;
    background: white;
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 5px;
    padding: 15px;
    
}
.card > i{
    font-size: 2.5em;
    color: #11998e;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
}
.text{
    text-align: center;
    float: right;
    padding-right: 10px;
}
.text > h4{
    font-size: 1.6em !important;
    font-family: Source Sans Pro, sans-serif;
    padding: 0;
    margin: 5px;
}
.text > p{
    
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  transform: translate(-50%,-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
