<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-7 col-xs-12">
            <div class="content">
                <h1 class="animated fadeInUp delay-1">BIT Patna</h1>
                <h1 class="animated fadeInUp delay-2">Grievance Management Cell</h1>
                <h5 class="animated fadeInUp delay-3">
                    A portal for posting complaints and issues.
                </h5>
            </div>
            
        </div>
        <div class="col-sm-5 col-xs-12"><app-login></app-login></div>
    </div>
</div>
